body {
    background-image: url("img04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.gallery {
    background-image: url("img03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.contact {
    background-image: url("img01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.info {
    background-image: url("img01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

main {
    padding-top: 5%;
}

header {
    color: yellow;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    padding: 5px;
    font-family: 'Alice', serif;
}

aside {
    float: left;
    color: yellow;
    width: 20%;
    height: 15%;
    position: fixed;
    margin-left: 1%;
    background: rgb(41, 41, 41); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    padding: 5px;
    font-family: 'Alice', serif;
}

article {
    color: yellow;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    background: rgb(41, 41, 41); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    padding: 5px;
    font-family: 'Alice', serif;
}

li {
    display: inline;
}

nav {
    overflow: hidden;
    background: #000000;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    text-align: center;
    word-spacing: 50px;
    float: inherit;
    padding: 0 30px;
    list-style-type: none;
    font-family: 'Playball', cursive;
}

nav ul li a {
    font-size: 20pt;
    font-weight: bold;
    color: yellow;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.70);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    align-content: center;
}

input {
    display: inline-block;
    text-align: center;
    padding: 5px;
    align-content: center;
}

.button {
    align-content: center;
    text-align: center;
}

form {
    width: 350px;
    margin-left: 33%;
    margin-right: 33%;
    color: yellow;
}

textarea {
    display: inline-block;
    width: 400px;
    height: 50px;
    text-align: right;
    padding: 5px;
}

a:link, a:visited {
    color: yellow;
}

a:hover, a:active {
    color: red;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
}

.container {
    width: 50%;
    height: 100%;
    margin-left: 28%;
    margin-right: 25%;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.cell {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    color: black;
    background-color: yellow;
    margin-top: 0.5%;
    margin-right: 33%;
    margin-left: 38%;
}

caption {
    border: 1px solid black;
    color: black;
    background-color: yellow;
    margin-top: 0.5%;
}